/* Your CSS goes here */

input, select {
    background-color: yellow;
    font-size: 18px;
}

#lastname {
    font-weight: bold;
}

#instructions {
    border: 2px solid black;
    padding: 8px
}

body {
    font-family: sans-serif;
    background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/arches.png');
}


/*#tagline {
    size: 150%;
}*/

#logo {
    width: 20px;
}

#large-logo {
    padding-bottom: 20px;
}

.page-title {
    height: 100px;
}
